<div class="page-header">
  <div class="container">
<div class="navLinks">
  <a [routerLink]="['/home']">Home</a>&nbsp;&nbsp;
  <a [routerLink]="['/about']">About Us</a>&nbsp;&nbsp;
  <a [routerLink]="['/contact']">Contact Us</a>&nbsp;&nbsp;
  <a [routerLink]="['/products']">Products</a>&nbsp;&nbsp;
  <a [routerLink]="['/login']">Login</a>&nbsp;&nbsp;
  <a [routerLink]="['/protected']">Protected</a>&nbsp;&nbsp;
  <a href="./about/Niranjana">New About Us</a>&nbsp;&nbsp;
</div>
</div>
</div>

<div id="content">
  <div class="container">
    <router-outlet>
    </router-outlet>
</div>
</div>