<form [formGroup]="deviceForm" (ngSubmit)="saveDevices(deviceForm.value)">
    <div>
       <input type="hidden" id="idInput"  [formControl]="deviceForm.controls['_id']">    
    </div>  
    <div>
        <label>Device Name</label>
        <input type="text" id="nameInput" placeholder="Device Name" [formControl]="deviceForm.controls['name']">    
    </div>
    <div>
        <label>Device Description</label>
        <input type="text" id="descInput" placeholder="Enter Description" [formControl]="deviceForm.controls['description']">    
    </div>
    <button type="submit">Save</button>  
  </form>
  <table>
    <tr>
      <td>id</td>
      <td>Name</td>
      <td>Description</td>
      <td>Action</td>
    </tr>
    <tr  *ngFor="let dev of devices">
      <td>{{dev._id}}</td>
      <td>{{dev.name}}</td>
      <td>{{dev.description}}</td>
      <td><button (click)="deleteDevice(dev._id)">D</button>
      <button (click)="loadDevice(dev._id)">E</button></td>
    </tr>
  </table>  